@{
    ViewBag.Title = "My Movie List";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="/content/antd/antd.min.css" />
}

<div id="root"></div>

@section scripts {
	<script src="/content/build/client.bundle.js"></script>
}